nav {
    background-color:coral;
    overflow:auto;

}

#logo {
    font-size: 2.5em;
    float: left;
    margin-left: 5%;
    
}

ul, li {
    padding: 0;
    list-style: none;
}

ul{
    float: right;
    margin-right: 15%;
    }

li{
    float:left;

}

nav a {
    text-decoration: none;
    padding: 5px;
    color: black;
    
}

nav a:hover {
    color: white;
}

body{
    background-color: rgb(240, 194, 194); 
    color: #555;
    font-size:16px;
    line-height: 1.6em;
    margin: 0; 
}

.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}

#showcase{
    background-image: url("assets/img/aramide.jpg");
    height:300px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 40px;

}
#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height:1.6em;
    padding-top: 0px;
    text-transform: uppercase;
}

#main{
    float:left;
width:70%;
padding:0 30px;
box-sizing:border-box;
}
#sidebar{
    float:right;
    width:30%;
    padding:0 30px;
    box-sizing:border-box;
    background: rgb(245, 83, 83);
}